/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4070f4;
}
.container {
  position: relative;
  max-width: 370px;
  width: 100%;
  padding: 25px;
  border-radius: 8px;
  background-color: #fff;
}
.container header {
  font-size: 22px;
  font-weight: 600;
  color: #333;
}
.container form {
  margin-top: 30px;
}
form .field {
  margin-bottom: 20px;
}
form .input-field {
  position: relative;
  height: 55px;
  width: 100%;
}
.input-field input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 0 15px;
  border: 1px solid #d1d1d1;
}
.invalid input {
  border-color: #d93025;
}
.invalid .error {
  display: flex;
}
.button {
  margin: 25px 0 6px;
}
.button input {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  background-color: #4070f4;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input:hover {
  background-color: #0e4bf1;
}
.container .or-section {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.or-section hr {
    flex: 1;
    border: 0;
    border-top: 1px solid #ccc;
}
.or-text {
    margin: 0 10px;
    color: gray;
    font-size: 14px;
}
/* Google Button */
.container .google-btn {
    width: 100%;
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    font-size:17px;
    transition: opacity 0.15s;
    color: rgb(65, 53, 53);
}
.google-btn img {
    width: 30px;
    margin-right: 10px;
}
.google-btn:hover {
    background: #f1f1f1;
}
/* Bottom text */
.login-text {
    margin-top: 20px;
    color: gray;
    font-size: 15px;
}

.login-text a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}
/* forgot */
.forgot-container {
  text-align: right;
  margin-top: 6px;
}
.forgot {
  text-decoration: none;
  font-size: 12px;
  color: #007bff;
}
.new-acc {
  margin-top: 10px;
  text-align: center;
}
.new {
  color: #007bff;
  text-decoration: none;
}